@font-face {
  src: url("../font/Raleway/Raleway-Bold.ttf");
  font-family: "raleway-bold";
}
@font-face {
  src: url("../font/Raleway/Raleway-SemiBold.ttf");
  font-family: "raleway-semibold";
}
@font-face {
  src: url("../font/Raleway/Raleway-Regular.ttf");
  font-family: "raleway-regular";
}
@font-face {
  src: url("../font/Raleway/Raleway-Light.ttf");
  font-family: "raleway-light";
}

$primary-color: #98181c;
$heading-1: 36px;
$heading-2: 32px;
$heading-3: 24px;
$heading-4: 20px;
body {
  font-family: "raleway-regular" !important;
}
h2,
h3 {
  font-family: "raleway-bold";
}
h2 {
  font-size: $heading-1 ;
}
h3 {
  font-size: $heading-2 ;
}

.btn {
  padding: 10px 30px !important;
  font-size: $heading-4 !important;
}

.btn-pill {
  border-radius: 100px !important;
}
.btn-border {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid $primary-color !important;

  svg {
    margin-right: 5px;
    
    path{
      fill: $primary-color;
    }
  }

  &:hover {
    background-color: $primary-color !important;
    color: white !important;
    transition: 0.5s ease-in;

    svg {
      path {
        fill: white !important;
      }
    }
  }
}

.text-main {
  color: $primary-color !important;
}
.navbar-light {
  border-bottom: 1px solid #e4e4e4;
  .navbar-brand {
    width: 100px;
    max-height: 40px;
    img {
      object-position: center;
      width: 100%;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: black;
        font-size: 14px;

        &:hover,
        &:focus {
          color: $primary-color !important;
        }
      }
    }
  }
  .navbar-toggler {
    border: none;
  }
}

header {
  position: relative;
  width: 100%;
  min-height: 650px;

  .hero-content {
    width: 100%;
    min-height: 650px;
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
    top: 0;
    color: white !important;

    .content-1 {
      padding-top: 130px;
      padding-bottom: 70px;
      h3 {
        font-size: $heading-3;
        font-family: "raleway-semibold";
      }
      h4 {
        font-size: $heading-4;
      }
      h2 {
        font-size: $heading-1;
        font-family: "raleway-bold";
        margin-top: 40px;
      }
      .date {
        margin-top: 40px;
        span {
          font-size: $heading-4;
        }
        svg {
          color: $primary-color;
          font-size: 25px;
        }
      }
    }
  }

  .img-hero {
    img {
      width: 100%;
      height: 650px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.speakers {
  margin: 70px 0;

  .wrap-speakers {
    margin-top: 70px;
    width: 100%;
    .speaker {
      padding: 10px;

      .image-ring {
        border: 5px solid white;
        box-shadow: 0px 0px 0px 2px $primary-color;
        -webkit-box-shadow: 0px 0px 0px 2px $primary-color;
        -moz-box-shadow: 0px 0px 0px 2px $primary-color;
        margin: 0 auto;
        width: 210px;
        border-radius: 200px;
        overflow: hidden;
        img {
          width: 100%;
          height: 210px;
          object-fit: cover;
        }
      }

      .info {
        margin-top: 25px;
        text-align: center !important;
        font-size: $heading-4 !important;

        label {
          font-family: "raleway-semibold";
        }
      }
    }
  }
}

.about {
  margin: 90px 0;

  .content-2 {
    h3 {
      font-family: "raleway-regular";
    }
  }
}

.timeline-card {
  margin: 90px 0;

  .timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
  }

  .timeline::after {
    content: "";
    position: absolute;
    width: 2px;
    background: $primary-color;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }

  .container-timeline {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
  }

  .container-timeline.left {
    left: 0;
  }

  .container-timeline.right {
    left: 50%;
  }

  .container-timeline::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #ffffff;
    border: 2px solid $primary-color;
    border-radius: 16px;
    z-index: 1;
  }

  .container-timeline.right::after {
    left: -8px;
  }

  .container-timeline::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: $primary-color;
    z-index: 1;
  }

  .container-timeline.right::before {
    left: 8px;
  }

  .container-timeline .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
  }

  .container-timeline.left .date {
    right: -75px;
  }

  .container-timeline.right .date {
    left: -75px;
  }

  .container-timeline .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: white;
    border: 2px solid $primary-color;
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    color: $primary-color;
    z-index: 1;
  }

  .container-timeline.left .icon {
    right: 56px;
  }

  .container-timeline.right .icon {
    left: 56px;
  }

  .container-timeline .content {
    padding: 30px 90px 30px 30px;
    border: 2px solid $primary-color;
    position: relative;
    border-radius: 0 500px 500px 0;
  }

  .container-timeline.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }

  .container-timeline .content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    color: black;
  }

  .container-timeline .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }

  @media (max-width: 767.98px) {
    h2 {
      font-size: 20px !important;
    }
    h3 {
      font-size: 16px !important;
    }

    .timeline::after {
      left: 15px;
    }

    .container-timeline {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }

    .container-timeline.right {
      left: 0%;
    }

    .container-timeline.left::after,
    .container-timeline.right::after {
      left: 7px;
    }

    .container-timeline.left::before,
    .container-timeline.right::before {
      left: 9px;
      border-color: transparent $primary-color transparent transparent;
    }

    .container-timeline.left .date,
    .container-timeline.right .date {
      right: auto;
      left: 15px;
    }

    .container-timeline.left .icon,
    .container-timeline.right .icon {
      height: 25px;
      right: auto;
      left: 41px;
      width: 25px;
      top: calc(50% - 12px);
    }

    .container-timeline.left .content,
    .container-timeline.right .content {
      padding: 30px 30px 30px 50px;
      border-radius: 0;
    }
  }
}

.overlay{
        width: 100%;
        height: 100%;
        padding: 10px;
        background-color: rgba(152, 24, 28 , 0.9) !important;;
        position: absolute;
    }

.subtopics {
    position: relative;
    min-height: 100px;

    

    .card {
        .card-body {
            min-height: 595px;

            svg {
              path{
                fill: $primary-color !important;
              }
            }
        }
    }
}

.publishing{
  background-color: #f3f3f3;
}

.obtained , .registration , .committee{
    background-color: #f3f3f3;
    padding: 90px 0;
}

.registration {
    table {
        tr{
            td {
                font-size: 14px !important;
            }
        }
    }
}

.subtopics , .obtained , .registration{
    .card {
        .card-body{
            padding: 30px !important;
        }
    }

    h4{
        font-family: 'raleway-semibold';
    }

    ul {
        margin-left: 0;
        padding-left: 0;
        li{
            display: flex;
            font-size: 14px !important;
            svg {margin-right: 10px;}
            margin-bottom: 10px;
            list-style: none;
        }
    }

    svg {
      path{
        fill: $primary-color ;
      }
    }
}

.committee {
    .block-info-1 {
        .name {
            label {
                display: block;
                margin-bottom: 0;
            }
            span {
                font-size: 14px;
                font-family: 'raleway-light';
            }
        }
    }
}

footer {
  background-color: #252525;

  ul {
    padding-left: 0 !important;
    li {
      list-style: none;
    }
  }
}


.countdown{
  background-color: $primary-color;
}

#countdown {
  width: 200px;
  margin: 0 auto;
}

#countdown ul {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
#countdown ul li {
  flex: 25%;
  padding: 10%;
  margin: 0;
  list-style: none;
  border-radius: 5px;
}
#countdown ul li mark{
  display: block;
  font-size: 3rem;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

del {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  #countdown {
    max-width: 500px;
  }

  .download{
    img {
      width: 130px;
    }
  }

  .activities ul li {
    max-width: 250px;
  }
  #countdown ul {
    padding: 0;
    display: flex;
    gap: 5%;
  }
  #countdown ul li {
    flex: 5%;
    padding: 5%;
    margin: 0;
    list-style: none;
    border-radius: 5px;
  }
  #countdown ul li mark {
    display: block;
    font-size: 1.5rem;
  }
}