@font-face {
  src: url("../font/Raleway/Raleway-Bold.ttf");
  font-family: "raleway-bold";
}

@font-face {
  src: url("../font/Raleway/Raleway-SemiBold.ttf");
  font-family: "raleway-semibold";
}

@font-face {
  src: url("../font/Raleway/Raleway-Regular.ttf");
  font-family: "raleway-regular";
}

@font-face {
  src: url("../font/Raleway/Raleway-Light.ttf");
  font-family: "raleway-light";
}

body {
  font-family: "raleway-regular" !important;
}

h2,
h3 {
  font-family: "raleway-bold";
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

.btn {
  padding: 10px 30px !important;
  font-size: 20px !important;
}

.btn-pill {
  border-radius: 100px !important;
}

.btn-border {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #98181c !important;
}

.btn-border svg {
  margin-right: 5px;
}

.btn-border svg path {
  fill: #98181c;
}

.btn-border:hover {
  background-color: #98181c !important;
  color: white !important;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.btn-border:hover svg path {
  fill: white !important;
}

.text-main {
  color: #98181c !important;
}

.navbar-light {
  border-bottom: 1px solid #e4e4e4;
}

.navbar-light .navbar-brand {
  width: 100px;
  max-height: 40px;
}

.navbar-light .navbar-brand img {
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.navbar-light .navbar-nav .nav-item .active {
  color: #98181c !important;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: #525252;
  font-size: 14px;
  font-family: 'raleway-bold';
}

.navbar-light .navbar-nav .nav-item .nav-link:hover, .navbar-light .navbar-nav .nav-item .nav-link:focus {
  color: #98181c !important;
}

.navbar-light .navbar-toggler {
  border: none;
}

header {
  position: relative;
  width: 100%;
  min-height: 650px;
}

header .hero-content {
  width: 100%;
  min-height: 650px;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
  top: 0;
  color: white !important;
}

header .hero-content .content-1 {
  padding-top: 130px;
  padding-bottom: 70px;
}

header .hero-content .content-1 h3 {
  font-size: 24px;
  font-family: "raleway-semibold";
}

header .hero-content .content-1 h4 {
  font-size: 20px;
}

header .hero-content .content-1 h2 {
  font-size: 36px;
  font-family: "raleway-bold";
  margin-top: 40px;
}

header .hero-content .content-1 .date {
  margin-top: 40px;
}

header .hero-content .content-1 .date span {
  font-size: 20px;
}

header .hero-content .content-1 .date svg {
  color: #98181c;
  font-size: 25px;
}

header .img-hero img {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.speakers {
  margin: 90px 0;
}

.speakers .wrap-speakers {
  margin-top: 70px;
  width: 100%;
}

.speakers .wrap-speakers .speaker {
  padding: 10px;
}

.speakers .wrap-speakers .speaker .image-ring {
  border: 5px solid white;
  box-shadow: 0px 0px 0px 2px #98181c;
  -webkit-box-shadow: 0px 0px 0px 2px #98181c;
  -moz-box-shadow: 0px 0px 0px 2px #98181c;
  margin: 0 auto;
  width: 210px;
  border-radius: 200px;
  overflow: hidden;
}

.speakers .wrap-speakers .speaker .image-ring img {
  width: 100%;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
}

.speakers .wrap-speakers .speaker .info {
  margin-top: 25px;
  text-align: center !important;
  font-size: 20px !important;
}

.speakers .wrap-speakers .speaker .info label {
  font-family: "raleway-semibold";
}

.about {
  margin: 90px 0;
}

.about .content-2 h3 {
  font-family: "raleway-regular";
}

.timeline-card {
  padding: 90px 0;
}

.timeline-card .timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline-card .timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #98181c;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.timeline-card .container-timeline {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.timeline-card .container-timeline.left {
  left: 0;
}

.timeline-card .container-timeline.right {
  left: 50%;
}

.timeline-card .container-timeline::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #98181c;
  border-radius: 16px;
  z-index: 1;
}

.timeline-card .container-timeline.right::after {
  left: -8px;
}

.timeline-card .container-timeline::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #98181c;
  z-index: 1;
}

.timeline-card .container-timeline.right::before {
  left: 8px;
}

.timeline-card .container-timeline .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #98181c;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.timeline-card .container-timeline.left .date {
  right: -75px;
}

.timeline-card .container-timeline.right .date {
  left: -75px;
}

.timeline-card .container-timeline .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: white;
  border: 2px solid #98181c;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #98181c;
  z-index: 1;
}

.timeline-card .container-timeline.left .icon {
  right: 56px;
}

.timeline-card .container-timeline.right .icon {
  left: 56px;
}

.timeline-card .container-timeline .content {
  padding: 30px 90px 30px 30px;
  border: 2px solid #98181c;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.timeline-card .container-timeline.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.timeline-card .container-timeline .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: black;
}

.timeline-card .container-timeline .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline-card h2 {
    font-size: 20px !important;
  }
  .timeline-card h3 {
    font-size: 16px !important;
  }
  .timeline-card .timeline::after {
    left: 15px;
  }
  .timeline-card .container-timeline {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .timeline-card .container-timeline.right {
    left: 0%;
  }
  .timeline-card .container-timeline.left::after,
  .timeline-card .container-timeline.right::after {
    left: 7px;
  }
  .timeline-card .container-timeline.left::before,
  .timeline-card .container-timeline.right::before {
    left: 9px;
    border-color: transparent #98181c transparent transparent;
  }
  .timeline-card .container-timeline.left .date,
  .timeline-card .container-timeline.right .date {
    right: auto;
    left: 15px;
  }
  .timeline-card .container-timeline.left .icon,
  .timeline-card .container-timeline.right .icon {
    height: 25px;
    right: auto;
    left: 41px;
    width: 25px;
    top: calc(50% - 12px);
  }
  .timeline-card .container-timeline.left .content,
  .timeline-card .container-timeline.right .content {
    padding: 30px 30px 30px 50px;
    border-radius: 0;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(152, 24, 28, 0.9) !important;
  position: absolute;
}

.subtopics {
  position: relative;
  min-height: 100px;
}

.subtopics .card .card-body {
  min-height: 595px;
}

.subtopics .card .card-body svg path {
  fill: #98181c !important;
}

.publishing {
  background-color: #f3f3f3;
}

.obtained, .registration, .committee {
  background-color: #f3f3f3;
  padding: 90px 0;
}

.registration table tr td {
  font-size: 14px !important;
}

.subtopics .card .card-body, .obtained .card .card-body, .registration .card .card-body {
  padding: 30px !important;
}

.subtopics h4, .obtained h4, .registration h4 {
  font-family: 'raleway-semibold';
}

.subtopics ul, .obtained ul, .registration ul {
  margin-left: 0;
  padding-left: 0;
}

.subtopics ul li, .obtained ul li, .registration ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px !important;
  margin-bottom: 10px;
  list-style: none;
}

.subtopics ul li svg, .obtained ul li svg, .registration ul li svg {
  margin-right: 10px;
}

.subtopics svg path, .obtained svg path, .registration svg path {
  fill: #98181c;
}

.committee .block-info-1 .name label {
  display: block;
  margin-bottom: 0;
}

.committee .block-info-1 .name span {
  font-size: 14px;
  font-family: 'raleway-light';
}

.footer {
  background-color: #252525;
}

.footer ul {
  padding-left: 0 !important;
}

.footer ul li {
  list-style: none;
}

.countdown {
  background-color: #98181c;
}

#countdown {
  width: 200px;
  margin: 0 auto;
}

#countdown ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5%;
}

#countdown ul li {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  padding: 10%;
  margin: 0;
  list-style: none;
  border-radius: 5px;
}

#countdown ul li mark {
  display: block;
  font-size: 3rem;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

del {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  #countdown {
    max-width: 500px;
  }
  .download img {
    width: 130px;
  }
  .activities ul li {
    max-width: 250px;
  }
  #countdown ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5%;
  }
  #countdown ul li {
    -webkit-box-flex: 5%;
        -ms-flex: 5%;
            flex: 5%;
    padding: 5%;
    margin: 0;
    list-style: none;
    border-radius: 5px;
  }
  #countdown ul li mark {
    display: block;
    font-size: 1.5rem;
  }
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
